body {
  background-color: blanchedalmond;
}

.style {
  background-color: blueviolet;
}

#red {
  background-color: red;
}

h1[lang] {
  color: green;
}

h2 ~ p {
  background-color: orange;
}

div > p {
  background-color: yellow;
  font-style: italic;
}

.class1 {
  background-color: aquamarine;
}
a:hover {
  color: red;
  transition: 0.5s;
  font-size: 30px;
}

div :first-of-type {
background-color: pink;
}

p::first-letter {
  background-color: red;
  font-weight: bold;
  font-size: 20px;
}